<html>
<head>
    <title>user profile</title>
</head>
<body>
<center>
    <h1>welcome {{name}}</h1>
    user name: {{name}} <br>
    user email: {{email}}<br>
    <a href="logout" title="Logout">Logout</a>
</center>
</body>
</html>